<%- include('../_layouts/adminheader') %>
    <br> <br> <br>
    <h2>Tambah Halaman</h2>
    <a href="/admin/pages" class="btn btn-primary">Back to all page</a>



    <%- include('../_layouts/adminfooter') %>